.bi {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

/*
 * Sidebar
 */

@media (min-width: 768px) {
  .sidebar .offcanvas-lg {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
  }
  .navbar-search {
    display: block;
  }
}

.sidebar .nav-link {
  font-size: .875rem;
  font-weight: 500;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar-heading {
  font-size: .75rem;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
}

#searchInput {
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.25);
    border: 1px solid #007bff;
}

#searchInput:focus {
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
    border-color: #0056b3;
}

.input-group > .btn-outline-secondary {
    border-color: #007bff;
}

.input-group > .btn-outline-secondary:hover {
    background-color: #007bff;
    color: white;
}
